name: CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run a multi-line script
        run: |
          sudo apt update
          sudo apt install qemu-user-static gzip -y
          ./create_kindle_alpine_image_mate.sh
          ./create_release.sh

      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: alpine.zip
          path: alpine.zip

  release:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Download Build Artifact
        uses: actions/download-artifact@v4
        with:
          name: alpine.zip
          path: .

      - name: Get current date
        id: date
        run: echo "date=$(date +'%Y-%m-%d_%H-%M-%S')" >> $GITHUB_ENV

      - name: Create GitHub Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release create "v${{ env.date }}" \
            --title "Release ${{ env.date }}" \
            --notes "This is an automated release of the latest build." \
            alpine.zip
